<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="True"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
<connectionStrings>
  <add name="cn" connectionString="Data Source=DESKTOP-9CBGPDG\ASHIRAFZAL;Initial Catalog=NorthWind1;Integrated Security=True;Pooling=False"/>
</connectionStrings>
</configuration>